<section class="about-us" id="aboutUs">
    <div class="jumbotron jumbotron-fluid image-container vertical-center" >
        <div class="container text-container add-animation" data-order="first">
            <p class="lead">
                Lynx Pictures in an innovative french production company.
                We build with you creative content, from the idea to the result.
                Our main goal is to provide the best modern product.
            </p>
        </div>
    </div>
</section>
