<footer class="footer footer-dark">
    <div class="footer-container">
        <div class="row">
            <div class="col-md-6">
                <div class="contact-info">
                    <h4>Contact info</h4>
                     <a href="mailto:{{site.email}}">contact@lynx-pictures.net</a>
                     <a href="#contact">4, rue René Balayn – 94800 Villejuif</a>
                </div>
            </div>
            <div class="copyrights">
                <small class-"text-muted">&copy; <script>document.write(new Date().getFullYear())</script> Lynx pictures, site made by</small>
                <div id="xpa"class="animated infinite tada"><small>XPA</small></div>
            </div>
            <div class="col-md-6">
                <div class="social-media">
                    <a href="https://www.facebook.com">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                    <a href="https://twitter.com">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="https://youtube.com">
                        <i class="fa fa-youtube"></i>
                    </a>                  
                </div>
            </div>
        </div>
    </div>
</footer>