<footer class="footer footer-dark">
    <div class="footer-container">
        <div class="row">
            <div class="col-md-6">
                <div class="contact-info">
                    <h4>{% t footerSection.contactInfo %}</h4>
                     <a href="mailto:{{site.email}}">contact@lynx-pictures.net</a>
                     <a href="#contact">4, rue René Balayn – 94800 Villejuif</a>
                </div>
            </div>
            <div class="copyrights">
                <small class-"text-muted">&copy; <script>document.write(new Date().getFullYear())</script>&nbsp;{% t footerSection.siteInfo %}</small>
                <div id="xpa"class="animated infinite tada"><small>XPA</small></div>
            </div>
            <div class="col-md-6">
                <div class="social-media">
                    <a href="https://www.facebook.com/lynxpicturesfrance">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                    <a href="https://twitter.com/lynx_pictures">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="https://www.instagram.com/lynx_pictures">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCO0E6mAhezbBEY7NLrZiCTA">
                        <i class="fa fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
