<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="keywords" content="{{ site.meta }}">
    <meta name="description" content="{{site.about-text}}">

    <!-- Open Graph data -->
    <meta property="og:title" content="Lynx Pictures" />
    <meta property="og:type" content="portfolio" />
    <meta property="og:url" content="http://www.lynx-pictures.net" />
    <meta property="og:image" content="/assets/img/header.jpg" />
    <meta property="og:description" content="{{site.description}}" />
    <meta property="og:site_name" content="{{site.title}}" />
    <meta property="fb:admins" content="1062701416" />

    <link href="{{ "/assets/img/lynxicon.ico" | prepend: site.baseurl }}" rel="icon" type="image/x-icon" />

    <!-- CSS -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" href="{{ "/assets/animate.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/lightbox/ekko-lightbox.min.css" | prepend: site.baseurl }}">

<!--
    <link rel="stylesheet" href="/assets/animate.css">
    <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/lightbox/ekko-lightbox.min.css">
-->

</head>
