<section class="team" id="team">

    <div class="jumbotron jumbotron-fluid image-container">
        <div class="team-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 team-members">
                        {% for member in site.data.team.members %}
                        <div class="col-lg-4 col-md-6 col-xs-12 col-sm-8 team-member add-animation"
                             data-order="{{member.order}}"
                        >
                            <div class="card">
                                <img class="card-img" src="{{site.baseurl}}/assets/img/{{member.avatar}}" alt="{{member.name}}">
                                <div class="card-overlay ">
                                    <div class="card-text lead">
                                        <div class="member-name">
                                            <h3>{{member.name}}</h3>
                                        </div>
                                        <div class="description">
                                            <p class="member-title">{% t teamSection.{{member.firstTitle}} %}</p>
                                            <p class="member-title">{% t teamSection.{{member.secondTitle}} %}</p>
                                            <p class="member-title">{% t teamSection.{{member.thirdTitle}} %}</p>
                                        </div>
                                        <div class="seperator"></div>
                                        <div class="member-media">
                                            <a href="{{member.contactFacebook}}">
                                                <i class="fa fa-facebook-square"></i>
                                            </a>
                                            <a href="{{member.contactTwitter}}">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            <a href="mailto:{{member.contactMail}}">
                                                <i class="fa fa-envelope"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
