<section class="work" id="work">
    <div class="jumbotron jumbotron-fluid image-container">
        <div class="work-wrapper">
            <div class="container slider h-100">
                <div class="row h-100">
                    <div class="col-md-12  text-container">
                        {% for project in site.data.work.projects %}
                        <div class="col-md-4 col-sm-8 col-xs-10 work-container"
                             data-file="{{project.file}}"
                        >
                            <div class="project-content add-animation" data-order="{{project.order}}">
                                <p class="lead">{{project.name}}</p>
                                <div class="show-gallery-overlay">
                                    <div class="view-icon-wrapper">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="gallery">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="go-back">
                                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-md-8 project-title-wrapper">
                            <h2 class="project-title"></h2>
                        </div>
                    </div>
                </div>
                <div class="project-load"></div>
            </div>
        </div>
    </div>

</section>
