$body-bg: #fff;
$headers-color: rgb(255, 126, 0);
$light-orange: rgb(255, 156, 38);
$light-gray: rgb(217, 217, 217);
$dark-gray: rgb(136, 136, 136);
$main-text-color: rgb(140, 140, 140);
$secondary-text-color: rgb(175, 175, 175);
$footer-color: rgb(27, 27, 27);
$button-color: rgb(51, 53, 55);

@import "bootstrap/variables";
