.about-us {
    
    h1 {
        margin: 120px 0 60px 0;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $headers-color;
        
        @include media-breakpoint-up(xs) { font-size: 40px; } // Small
        @include media-breakpoint-up(sm) { font-size: 3.5rem;} // Medium
        @include media-breakpoint-up(md) { font-size: 3.5rem; } // Large
    }
    .card {
        opacity: 0;
    }
    .card img {
        width: 100%;
        height: 100%;
        max-width: 100%;   
    }
    
    .group-image {
        padding-left: 5px !important;
        padding-right: 5px !important;   
    }
    
    .text-container {
        text-align: center;
        color: $main-text-color;
    }
    
    .images-container {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 100px 0 40px 0;    
    }    
}