.clients {

    h1 {
        margin: 60px 0 20px 0;
        text-transform: uppercase;
        color: $headers-color;
        letter-spacing: 1px;

            @include media-breakpoint-up(xs) { font-size: 40px; } // Small
            @include media-breakpoint-up(sm) { font-size: 3.5rem; } // Medium
            @include media-breakpoint-up(md) { font-size: 3.5rem; } // Large

    }
    .jumbotron{
        // margin-bottom: 0px;
        // margin-top: 0px;
        // padding-bottom: 0px;
        // padding-top: 0px;
        // height: 100vh;
        // background:transparent;

        @include media-breakpoint-up(xs) { height: auto } // Small
        @include media-breakpoint-up(sm) { height: auto } // Medium
        @include media-breakpoint-up(md) { height: 100vh } // Large
    }
    .image-container {
        background-image: url('../assets/img/clients-bg.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;

        @include media-breakpoint-up(xs) { background-attachment: initial} // Small
        @include media-breakpoint-up(sm) { background-attachment: fixed } // Medium
        @include media-breakpoint-up(md) { background-attachment: fixed } // Large

    }
    .clients-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

        @include media-breakpoint-up(xs) { padding: 40px 0 40px 0;} // extraSmall
        @include media-breakpoint-up(sm) { padding: 0;} // Small
    }
    .client-names {
        margin-top: 40px;
        text-align: center;
        width: 100%;

        @include media-breakpoint-up(xs) { display: none; } // Small
        @include media-breakpoint-up(sm) {display: block; } // Medium
        @include media-breakpoint-up(md) { display: block; } // Large
    }

    .client-name {
        opacity: 0;
        font-size: 20px;
        margin-left : 1em;
        margin-right : 1em;
        text-transform: uppercase;
        color: $secondary-text-color;
    }

    .client-name.active {
        color: $headers-color;
        border-bottom: solid 2px  $headers-color;
    }

    .client-name:hover {
        cursor: pointer;
    }

    .close-quotes {
        font-size: 40px;
        position: absolute;
        color: rgba(255,255,255,0.6);
        bottom: 0%;

        @include media-breakpoint-down(sm) { right: -5%; } // Small
        @include media-breakpoint-up(md) { right: 1%; } // Medium
    }

    .lead {
        display: none;
        text-align: center;
        background: rgba(255,255,255,0.6);
        padding: 15px;
        color: #444444;

        @include media-breakpoint-down(xs) { font-size: 1rem; } // Small

    }

    .lead.active {
        display: flex;
        align-items: center;
    }

    .mobile-selectors {
        margin-top: 40px;
        text-align: center;
        width: 100%;
         display: none;

        span {
            display: inline-block;

            height: 20px;
            width: 20px;
            margin-left : 1em;
            margin-right : 1em;
            border: solid 2px grey;
            border-radius: 50%;
        }

        span.active {
            border: solid 2px $headers-color;
        }

        @include media-breakpoint-up(xs) { display: block; } // Small
        @include media-breakpoint-up(sm) {display: none; } // Medium
        @include media-breakpoint-up(md) { display: none; } // Large
    }

    .nav-text {
        margin: 0 auto;
        text-align: center;
    }

    .open-quotes {
        font-size: 40px;
        color: rgba(255,255,255,0.6);
        position: absolute;
        top: 0%;

        @include media-breakpoint-down(sm) { left: -5%; } // Small
        @include media-breakpoint-up(md) { left: 1%; } // Medium
    }

    .text-container {
        text-align: center;
        opacity: 0;
    }

    .testimonials {
        position: relative;
        min-height: 200px;
        min-width: 200px;
        max-width: 80%;
        margin: auto;
    }
}
