.team {
    
    h1 {
        margin: 120px 0 60px 0;
        text-transform: uppercase;
        color: $headers-color;
        letter-spacing: 1px;
        
        @include media-breakpoint-up(xs) { font-size: 40px; } // Small
        @include media-breakpoint-up(sm) { font-size: 3.5rem;} // Medium
        @include media-breakpoint-up(md) { font-size: 3.5rem; } // Large
    }
    
    .avatar {
        width: 100px;
        height: 100px;
        margin: 0 auto;
    }
    
    .description {
        color: $main-text-color;
    }
    
    img {
        width:100%;
        max-height:100%;
        border-radius: 50%;
        border: solid 1px $light-orange;
        
    }
    
    .member-name {
        margin-top: 30px;
        margin-bottom: 30px;
        text-transform: uppercase;
    }
    
    .text-container {
        text-align: center;
        opacity: 0;
    }    
    
    .team-member {
        opacity: 0;
    }
    
    .team-members {
        margin-top: 20px;
        text-align: center;
    }
    
    .member-media {
        text-align: center;
        font-size: 20px;
        margin-bottom: 50px;
    }
    
    .member-media > a {
        display: inline-block;
        width: 40px;
        color: $dark-gray;
        opacity: 1;
    }
    
    .member-media > a:hover {
        color: $light-orange;
        opacity: 0.5;
    }
    
    .seperator {
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 50%;
        border: solid 1px $light-gray;
    }
}