<!DOCTYPE html>
<html lang="{{ site.lang }}">
    {% include head.html %}

    <body>
        {% include header.html %}

        {{ content }}

        {% include footer.html %}

        <!-- JavaScript -->
        <script src="{{ "/assets/jquery-3.1.1.min.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/assets/tether.min.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/assets/bootstrap.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/assets/jquery.waypoints.min.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/assets/lightbox/ekko-lightbox.min.js" | prepend: site.baseurl }}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCKziNkVSv-deQ1I-KrEky_nAiazxyrg94"></script>
        <script src="{{ "/js/functions.js" | prepend: site.baseurl }}"></script>
    </body>
</html>
